# Heading1
## Heading 2
### Heading 3
#### Heading 4
##### Heading 5
###### Heading 6

*italic type of fontstyle*

**bold type of fontstyle**

***both bold and italic type of fontstyle***

[Google](https://www.google.com/)

![Tajmahal](https://images.unsplash.com/photo-1564507592333-c60657eea523?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dGFqJTIwbWFoYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80)


* Fruits
    * Apple
    * Bananas
    * Oranges
 
1. Vegetables
    1. Potatoes
    2. Carrots
    3. Tomatoes
    
Name | Place
---------|------
Bhavya | Guntur

## Python Basics

In [11]:
## variables in python
## int,float,str

a="1"
print(a)
print(type(a))

1
<class 'str'>

In [12]:
## Type casting

## converting from one datatype type to another

## integer value to float

In [16]:
b=20
print(b)
print(type(b))
b=float(b)
print(type(b))
print(b)

20
<class 'int'>
<class 'float'>
20.0

In [20]:
## convert an integer to string

c=35
print(type(c))
c=str(c)
print(type(c))
print(c)

<class 'int'>
<class 'str'>
35

In [23]:
## conversion of floating to integer

s=12.5
print(type(s))
s=int(s)
print(type(s))
print(s)

<class 'float'>
<class 'int'>
12

In [26]:
## conversion of floating value to string

a = 20.5
print(type(a))
a=str(a)
print(type(a))
print(a)

<class 'float'>
<class 'str'>
20.5

In [28]:
a="name"
print(type(a))
a=int(a)
print(a)

<class 'str'>

ValueError: invalid literal for int() with base 10: 'name'